<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:mtl="http://forge.ada-ru.org/matreshka/template">
  <body class="${class}">
    <p><![CDATA[${value}]]></p>
    <p>${value}</p>
    <ul>
      <mtl:for variable="item" in="items">
        <li>${item}</li>
      </mtl:for>
<!--
      <li mtl:for="item in items">${item}</li>
-->
    </ul>
  </body>
</html>
