<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:mtl='http://forge.ada-ru.org/matreshka/template'>
  <head>
    <title>Форум</title>
    <link rel='stylesheet' type='text/css' href='/forum.css'/>
    <link rel='icon' type='image/png' href='/favicon.png'/>
  </head>
  <body>
    <header id='primary-header'>
      <div>
Hello wrd
<mtl:for expression="x of list">
<span>
aaa ${x.user}
</span>
</mtl:for>
</div>
</header>
</body>
</html>
