<div class="post-list" xmlns='http://www.w3.org/1999/xhtml' xmlns:mtl='http://forge.ada-ru.org/matreshka/template'>

 <div class="category">
  <div class="category-title">
    <a href="${base}/${category.id}/1">${category.title}</a>
  </div>
 </div>

 <div class="topic">
  <div class="topic-title">
    ${topic.title}
  </div>

  Page: ${page.current} of ${page.total}
  <mtl:if expression="not page.single">
    Go: <a href="1">[1]</a>
    <mtl:if expression="page.has_prev">
      <a href="${page.prev}">[${page.prev}]</a>
    </mtl:if>
    ... 
    <mtl:if expression="page.has_next">
      <a href="${page.next}">[${page.next}]</a>
    </mtl:if>
    <a href="${page.total}">[${page.total}]</a>
  </mtl:if>
 </div>

<mtl:for expression="post of list">
 <div class="post">
  <div class="post-title">
   Created: ${post.creation_time}
  </div>
  ${post.text}
 </div>
</mtl:for>
</div>
