<div id="main_content_section" xmlns='http://www.w3.org/1999/xhtml' xmlns:mtl='http://forge.ada-ru.org/matreshka/template'>
 <div class="pagesection">
  <div class="pagelinks floatleft">
   <span class="pages">Pages: </span>
    <mtl:if expression="page.has_prev">
      <a class="navPages" href="${page.prev}"><span class="previous_page"/></a>
      <a class="navPages" href="${page.prev}">${page.prev}</a>
    </mtl:if>

    <span class="current_page">[${page.current}]</span>

    <mtl:if expression="page.has_next">
      <a class="navPages" href="${page.next}">${page.next}</a>
      <a class="navPages" href="${page.next}"><span class="next_page"/></a>
    </mtl:if>
  </div>
 </div>

  <div id="description_board" class="generic_list_wrapper">
    <h3 class="floatleft">${category.title} - </h3>
    <p>${category.description}</p>
  </div>

  <div id="messageindex">
   <div id="topic_header" class="title_bar">
    <div class="icon"/>
    <div class="info"><span>Subject</span></div>
    <div class="stats">Replies</div>
    <div class="lastpost">Last Post</div>
   </div>
   <div id="topic_container">
<mtl:for expression="topic of list">
    <div class="windowbg">
     <div class="icon"><img alt="" src="/images/post/xx.png"/></div>
     <div class="info">
      <div>
       <div class="message_index_title">
        <span class="preview" title="">
         <span id="msg_4">
         <a title="${topic.description}" href="${topic.id}/1">${topic.title}</a>
         </span>
        </span>
       </div>
       <p class="floatleft">Started at ${topic.creation_time}
 by ${topic.created_by.nick}</p>
       <small id="pages4"/>
       <br class="clear"/>
      </div>
     </div>
     <div class="stats"><p>${topic.post_count} Replies</p></div>
     <div class="lastpost"><p>${topic.last_post.creation_time}<br/>
 by ${topic.last_post.author.nick}</p>s</div>
    </div>
</mtl:for>
   </div>
  </div>
</div>
