
   overriding function Create_Element
    (Self          : not null access Document_Node;
     Namespace_URI : League.Strings.Universal_String;
     Prefix        : League.Strings.Universal_String;
     Local_Name    : League.Strings.Universal_String)
       return not null XML.DOM.Elements.DOM_Element_Access;

end Matreshka.ODF_Documents;
