
   not overriding procedure Visit_@GROUP@_@ELEMENT@
    (Self    : in out Abstract_ODF_Iterator;
     Visitor : in out ODF.DOM.Visitors.Abstract_ODF_Visitor'Class;
     Element : ODF.DOM.@GROUP@_@ELEMENT@_Elements.ODF_@GROUP@_@ELEMENT@_Element_Access;
     Control : in out XML.DOM.Visitors.Traverse_Control) is null;
