
   not overriding procedure Enter_@GROUP@_@ELEMENT@
    (Self    : in out Abstract_ODF_Visitor;
     Element : ODF.DOM.@GROUP@_@ELEMENT@_Elements.ODF_@GROUP@_@ELEMENT@_Element;
     Control : in out XML.DOM.Visitors.Traverse_Control) is null;

   not overriding procedure Leave_@GROUP@_@ELEMENT@
    (Self    : in out Abstract_ODF_Visitor;
     Element : ODF.DOM.@GROUP@_@ELEMENT@_Elements.ODF_@GROUP@_@ELEMENT@_Element;
     Control : in out XML.DOM.Visitors.Traverse_Control) is null;
